 <form [ngFormModel]="formControlGroup" (ngSubmit)="onSubmit()" #betForm="ngForm">
  <fieldset class="form-group" [ngClass]="{ 'has-danger': !eventDate.valid }">
    <label for="date">Event Date</label>
    <input type="date"
           class="form-control"
           ngControl="eventDate"
           #eventDate="ngForm"
           [(ngModel)]="bet.eventDate">
    <p class="text-danger" [hidden]="eventDate.valid">Event date is required</p>
  </fieldset>

  <fieldset class="form-group">
    <label for="event">Event</label>

    <select class="form-control c-select"
            ngControl="event"
            #event="ngForm"
            [(ngModel)]="bet.event">
      <option *ngFor="let e of events" [value]="e">{{ e }}</option>
    </select>
  </fieldset>

  <fieldset class="form-group">
    <label for="type">Bet type</label>

    <select class="form-control c-select"
            ngControl="type"
            #type="ngForm"
            [(ngModel)]="bet.type">
      <option *ngFor="let type of types" [value]="type">{{ type }}</option>
    </select>
  </fieldset>

  <fieldset class="form-group">
    <label for="bookmaker">Bookmaker</label>

    <select class="form-control c-select"
            ngControl="bookmaker"
            #bookmaker="ngForm"
            [(ngModel)]="bet.bookmaker">
      <option *ngFor="let bookmaker of bookmakers" [value]="bookmaker">{{ bookmaker }}</option>
    </select>
  </fieldset>

  <fieldset class="form-group">
    <label for="exchange">Exchange</label>

    <select class="form-control c-select"
            ngControl="exchange"
            #exchange="ngForm"
            [(ngModel)]="bet.exchange">
      <option *ngFor="let exchange of exchanges" [value]="exchange">{{ exchange }}</option>
    </select>
  </fieldset>

  <fieldset class="form-group">
    <label for="amount">Amount</label>

    <input type="text"
           class="form-control"
           ngControl="value"
           #value="ngForm"
           [(ngModel)]="bet.value">
  </fieldset>

  <button type="submit" class="btn btn-primary" [disabled]="!betForm.form.valid">Add</button>
</form>
