<footer class="footer" *ngIf="getCount()">
    <span class="bet-count"><strong>{{ getOpenCount() }}</strong> open {{ getOpenCount() == 1 ? 'bet' : 'bets' }}</span>

    <ul class="filters">
        <li>
            <a [routerLink]="['/Bet', { status: '' }]" [class.selected]="getStatus() == ''">All</a>
        </li>
        <li>
            <a [routerLink]="['/Bet', { status: 'active' }]" [class.selected]="getStatus() == 'active'">Active</a>
        </li>
        <li>
            <a [routerLink]="['/Bet', { status: 'completed' }]" [class.selected]="getStatus() == 'completed'">Completed</a>
        </li>
    </ul>

    <button class="clear-completed" *ngIf="hasCompleted()" (click)="removeCompleted()">Clear completed</button>
</footer>
